/* ----------------------------------------------------- */


/* BASIC SETUP */


/* ----------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #F9F9F9;
    color: rgba(0, 0, 0, 0.85);
    font-family: ToppanBunkyuMinchoPr6N-Regular, HiraMinProN-W3, 'YuMincho';
    font-weight: 100;
    font-size: 36px;
    text-rendering: optimizeLegibility;
    line-height: 40px;
}

li {
    list-style: none;
}


/* ----------------------------------------------------- */


/* REUSEABLE */


/* ----------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25), inset 0 -2px 0 0 #e1f3ff;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


/* ----------------------------------------------------- */


/* HEADER*/


/* ----------------------------------------------------- */

header {
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

.banner {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.35);
    position: fixed;
    z-index: 1000;
    padding: 7px 0;
    width: 100%;
}

.banner h1 {
    padding: 5px 0 0 30px;
    float: left;
    font-size: 83%;
    letter-spacing: 6.7px;
    font-weight: 100;
}

.banner ul {
    text-align: right;
    padding: 0 10px;
}

.banner li {
    display: inline-block;
    font-size: 58%;
    letter-spacing: 4.68px;
    margin: 0 21px;
}

.banner li:hover {
    border-bottom: solid 2px #668ad8;
    margin: 0 21px -2px 21px;
    transition: .1s;
}

.top {
    position: relative;
}

.commentOnPhoto {
    color: #ffffff;
    text-align: center;
    letter-spacing: 8.08px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ----------------------------------------------------- */


/* 会社沿革と製品紹介*/


/* ----------------------------------------------------- */

h2 {
    letter-spacing: 6.74px;
    text-align: center;
    font-size: 66%;
    font-weight: 100;
    margin: 0 auto;
    color: #ffffff;
    padding: 7px;
}

h3 {
    letter-spacing: 5px;
    text-align: center;
    font-size: 60%;
    font-weight: 100;
}

.historyName,
.productionName {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.historyName::after,
.productionName::after,
.recruitName::after,
.companyName::after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    background-color: #668ad8;
    margin: 0.1em auto 0;
}

.IntroColums {
    display: flex;
    flex-wrap: wrap;
}

.historyColums,
.productionColums,
.historyPhoto,
.productionPhoto {
    width: 50%;
    border: 2px solid #e1f3ff;
}

.historyColums,
.productionColums {
    position: relative;
    height: 500px;
}

.historyButton,
.productionButton {
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -90%);
    transform: translate(-50%, -80%);
    padding: 0.5em 0.5em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}

.historyButton:hover,
.productionButton:hover,
.recruitButton:hover {
    background: #668ad8;
    color: #FFF;
}

.historyComment,
.productionComment {
    font-size: 55%;
    letter-spacing: 4px;
    text-align: center;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.historyPhoto,
.productionPhoto {
    background-size: cover;
    background-position: center;
    position: relative;
}

.historyColums::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 28px solid #F9F9F9;
    top: 50.5%;
    left: 100%;
    position: absolute;
    z-index: 1;
}

.historyPhoto::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #e1f3ff;
    top: 50%;
}

.productionPhoto::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 30px solid transparent;
    border-right: 30px solid #e1f3ff;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    top: 50%;
    left: 90.5%;
}

.productionColums::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-right: 28px solid #F9F9F9;
    border-bottom: 28px solid transparent;
    border-left: 28px solid transparent;
    top: 60%;
    position: absolute;
    z-index: 1;
    -webkit-transform: translate(-100%, -87%);
    transform: translate(-100%, -87%);
}


/* ----------------------------------------------------- */


/* 採用情報*/


/* ----------------------------------------------------- */

.recruitPhoto {
    height: 80vh;
    position: relative;
    background-size: cover;
    background-position: center;
}

.recruitName {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.recruitComment {
    font-size: 55%;
    letter-spacing: 4px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.recruitButton {
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    padding: 0.5em 0.5em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}


/* ----------------------------------------------------- */


/* 会社概要*/


/* ----------------------------------------------------- */

.companyDiv {
    position: relative;
}

.companyName {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.companyDetails {
    font-size: 40%;
    letter-spacing: 2px;
    border-collapse: collapse;
    margin: 0 auto;
    font-weight: normal;
}

.tableSeparate1 {
    margin-left: 7%;
}

.tableSeparate2 {
    margin-left: 3%;
}

.tableSeparate1,
.tableSeparate2 {
    display: inline-block;
    vertical-align: top;
    max-width: 41%;
    box-sizing: border-box;
    width: 100%;
    margin-top: 130px;
    margin-bottom: 40px;
}

tr {
    border-bottom: 1px solid #e0dcdc;
    width: 100%;
}

th {
    width: 3rem;
}

th,
td {
    text-align: left;
}