@media (max-width: 1200px) {
    body {
        font-size: 34px;
        line-height: 35px;
    }
    .commentOnPhoto {
        font-size: 34px;
    }
    .isNaviOpenPc {
        display: block;
    }
    .banner li {
        letter-spacing: 4px;
        margin: 0 15px;
        padding-top: 7px;
    }
    .banner li:hover {
        margin: 0 15px -2px 15px;
    }
    .productionColums::after {
        -webkit-transform: translate(-93%, -86%);
        transform: translate(-93%, -86%);
    }
    .productionPhoto::after {
        left: 89%;
    }
    .mapComment h4 {
        width: 29%;
    }
    .mapComment p {
        width: 81%;
    }
    .footerContents {
        padding: 10px 0 0 50px;
    }
    .imgMap iframe {
        padding-top: 70px;
    }
    .imgMap {
        margin-top: 90px;
    }
}

@media (max-width: 1023px) {
    body {
        font-size: 32px;
        line-height: 33px;
    }
    .commentOnPhoto {
        font-size: 32px;
    }
    .isNaviOpenPc {
        display: none;
    }
    .header__menu {
        width: 60px;
        height: 60px;
        position: fixed;
        top: 0;
        right: 0;
        display: block;
    }
    .header__menu__line {
        width: 36px;
        height: 30px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        cursor: pointer;
    }
    .header__menu__line span {
        width: 100%;
        height: 2px;
        background: #000;
        display: block;
        transition: .6s;
        position: absolute;
    }
    .header__menu__line span:first-child {
        top: 0;
    }
    .header__menu__line span:nth-child(2) {
        top: 14px;
    }
    .header__menu__line span:last-child {
        bottom: 0;
    }
    .is-active span {
        transition: .6s;
    }
    .is-active span:first-child {
        transform: rotate(45deg);
        top: 50%;
    }
    .is-active span:nth-child(2) {
        opacity: 0;
    }
    .is-active span:last-child {
        transform: rotate(-45deg);
        top: 50%;
    }
    .navi__wrap {
        width: 100%;
        background-color: rgb(53, 51, 51);
        height: 1000vw;
        opacity: .9;
    }
    .banner ul {
        margin: 47px auto 0 auto;
    }
    .banner li {
        width: 15%;
        margin: 0 auto;
        display: block;
        padding: 20px 0 5px 0;
    }
    .banner li:first-child {
        padding-top: 50px;
    }
    .banner li:hover {
        border-bottom: solid 2px #668ad8;
        margin: 0 auto -2px auto;
    }
    .navi__wrap li a {
        color: #F2F2F2;
    }
    .navi-enter-active,
    .navi-leave-active {
        transition: .6s;
    }
    .navi-enter,
    .navi-leave-to {
        opacity: 0;
    }
    .navi-enter-to,
    .navi-leave {
        opacity: 1;
    }
    .commentOnPhoto {
        letter-spacing: 6px;
    }
    .companyDiv {
        height: 400px;
    }
    .mapDiv {
        height: 720px;
    }
    .imgMap {
        width: 100%;
    }
    .imgMap {
        margin-top: 70px;
        padding-left: 0;
    }
    .mapComment {
        width: 70%;
        margin: 30px 15%;
    }
    .inquiryDiv {
        height: 300px;
    }
    .inquiryDetails p {
        padding-left: 0%;
    }
    .inquiryDetails h4 {
        padding-left: 33%;
    }
    .footerContents2 {
        width: 50%;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 30px;
        line-height: 30px;
    }
    .commentOnPhoto {
        font-size: 30px;
    }
    .banner {
        padding: 11px 0;
    }
    .banner li {
        width: 20%;
    }
    .header__menu__line {
        width: 25px;
    }
    .header__menu__line span:first-child {
        margin-top: 4px;
    }
    .header__menu__line span:nth-child(2) {
        top: 14px;
    }
    .header__menu__line span:last-child {
        margin-bottom: 4px;
    }
    .is-active span:last-child {
        top: 56%;
    }
    .is-active span:first-child {
        top: 44%;
    }
    .reverse {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .historyColums::after {
        display: none;
    }
    .productionColums::after {
        display: none;
    }
    .historyColums,
    .productionColums,
    .historyPhoto,
    .productionPhoto {
        width: 100%;
    }
    .historyColums,
    .productionColums {
        height: 400px;
    }
    .historyPhoto,
    .productionPhoto {
        height: 250px;
    }
    .productionPhoto {
        display: none;
    }
    .recruitName {
        top: 5%;
    }
    .companyDetails {
        width: 70%;
        margin-top: 120px;
    }
    .tableSeparate2 {
        margin-top: 0px;
        margin-left: 7%;
    }
    .tableSeparate1,
    .tableSeparate2 {
        display: table-row-group;
        vertical-align: middle;
    }
    .companyName {
        top: -27%;
    }
    .mapComment h4 {
        width: 50%;
    }
    .mapComment {
        width: 80%;
        margin: 30px 10%;
    }
    .mapComment p {
        width: 90%;
    }
    .inquiryDetails h4 {
        padding-left: 25%;
    }
    .footerContents {
        padding: 10px 0 0 10px;
    }
    .footerDetails2 li {
        width: 50%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 30px;
        line-height: 30px;
    }
    header {
        height: 60vh;
    }
    .commentOnPhoto {
        font-size: 20px;
        top: 55%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .banner li {
        width: 30%;
    }
    .banner h1 {
        padding: 5px 0 0 20px;
    }
    .historyColums{
        height: 350px;
    }
    .productionColums {
        height: 350px;
    }
    .recruitPhoto {
        height: 400px;
    }
    .recruitButton .router-link {
        top: 90%;
    }
    .companyDetails {
        width: 85%;
    }
    .companyDiv {
        height: 430px;
    }
    .inquirySubtitle {
        padding-top: 25%;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .inquiryDetails h4 {
        padding-left: 5%;
        vertical-align: top;
        width: 30%;
    }
    .inquiryDetails p {
        padding-right: 5%;
        width: 65%;
    }
    .footerContents2 {
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .footerImg {
        height: 390px;
    }
    .footerContents {
        padding: 0;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .footerCompanyName h1 {
        text-align: center;
        padding-top: 20px;
    }
    iframe {
        height: 300px;
        width: 300px;
    }
    .mapComment {
        padding-left: 10px;
    }
}